body{
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

form{
    width: 300px;
    height: 420px;
    background: black;
    color: white;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

button{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

a:hover{
    color: white;
}